<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happylifeplat.transaction.tx.dubbo.sample.order.mapper.OrderMapper" >

  <resultMap id="BaseResultMap" type="com.happylifeplat.transaction.tx.dubbo.sample.order.api.entity.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List">
    CREATE_TIME,NUMBER,TYPE,STATUS
  </sql>

  <insert id="save" parameterType="com.happylifeplat.transaction.tx.dubbo.sample.order.api.entity.Order" >
    INSERT INTO  t_order (<include refid="Base_Column_List" />)
    values (#{createTime,jdbcType=TIMESTAMP},#{number,jdbcType=VARCHAR},
    #{type,jdbcType=INTEGER},#{status,jdbcType=INTEGER})
  </insert>

</mapper>